<!DOCTYPE html>
<!-- Incluir o suporte para o Thymeleaf-->
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    
    <title>Document</title>
</head>

<body>
    <!-- insert into categorias (descricao) values ('Java'),('Dart'),('Kotlin'),('C++'),('Python'); -->
    <h1>Categorias</h1>
    <a class="btn btn-primary" th:href="@{/categorias/cadastrar}">Criar Categoria</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Descrição</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="c : ${categorias}">
                <th scope="row" th:text="${c.id}"></th>
                <td th:text="${c.descricao}"></td>
                <td colspan="2">
                    <a class="btn btn-warning btn-sm" th:href="@{/categorias/editar/{id} (id = ${c.id})}">Editar</a>
                    <a class="btn btn-danger btn-sm" th:href="@{/categorias/excluir/{id} (id = ${c.id})}">Excluir</a>
                </td>
            </tr>
    </table>
    <script th:src="@{/js/bootstrap.bundle.min.js}" defer></script>
</body>

</html>