<!DOCTYPE html>
<!-- Incluir o suporte para o Thymeleaf-->
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- insert into categorias (descricao) values ('Java'),('Dart'),('Kotlin'),('C++'),('Python'); -->
    <h1>Categorias</h1>
    <ol>
        <li th:each="c : ${categorias}">
            <span th:text="${c.descricao}"></span>
        </li>
    </ol>
</body>

</html>